<div class="container">
  <div class="jumbotron" style='color:rgb(245, 247, 246);background: rgb(12, 73, 73);'>
    <div class="row">
      <div class="col-md-7">  <h2 style="padding: 1em ;">Multi Coice Quiz </h2></div>
  <div class="col-md-5"><u><br>Instruction:
  </u><br>
<ul><li style='color:red'>
    This is a FREE online test. DO NOT pay money to anyone to attend this test.</li>
   <li>Total number of questions : 10.</li>
   <li> Time alloted : 10 minutes.</li>
    <li>Each question carry 1 mark, no negative marks.</li></ul>
  </div>
  </div>
 </div>
  <!-- <app-quiz></app-quiz> -->
  <router-outlet></router-outlet>
</div>
